:root{
  --lGreen: #ADC178; /*Represents lush foliage and vitality*/
  --dBrown: #6C584C; /*Symbolizes soil and grounding, adding warmth*/
  --lBrown: #A98467; /*Evokes clear skies and water, ideal for hydroponics*/
  --Background:#F0EAD2;  /*A neutral base that keeps the design clean and light*/
  --dGreen: #78804e; /*Adds a bright, cheerful touch, reminiscent of sunlight*/

/*Accent Colors*/

  --Fruit: #9a031e; /*For buttons and highlights, suggesting freshness*/
  --Flower: #ada7c9; /*Soft accents that can represent flowers and add a calming touch*/

/*Usage Suggestions

  Background: Soft Beige for a clean and light feel.
  Headers/Footers: Leaf Green or Earthy Brown for strong, grounded elements.
  Buttons/Calls to Action: Sunshine Yellow for visibility and excitement.
  Text: Darker shades of Earthy Brown for readability, with Sky Blue for links.*/
}




#NavBar{
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dBrown);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: var(--lGreen);
  }
  .active {
    background-color: var(--dGreen);
  }
}
body{
  background-color: var(--Background);
}